<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="ApplicationServices" connectionString="Data Source=Primary;Initial Catalog=FormulaOnePickr;Persist Security Info=True;User ID=WebUser;Password=W3bUs3r" providerName="System.Data.SqlClient" />
    <add name="FormulaOnePickr" connectionString="Data Source=Primary;Database=FormulaOnePickr;Persist Security Info=True;User ID=WebUser;Password=W3bUs3r" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=Primary;Initial Catalog=FormulaOnePickr;Persist Security Info=True;User ID=WebUser;Password=W3bUs3r" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--  To collect diagnostic traces, uncomment the section below or merge with existing system.diagnostics section.
        To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments.
  <system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="CleverDogStudios.FormulaOnePickr.WebService.AzureLocalStorageTraceListener, CleverDogStudios.FormulaOnePickr.WebService"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics> -->
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
<!--    <behaviors>-->
<!--      <serviceBehaviors>-->
<!--        <behavior>-->
<!--          ~1~ To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment @1@-->
<!--          <serviceMetadata httpGetEnabled="true"/>-->
<!--          ~1~ To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information @1@-->
<!--          <serviceDebug includeExceptionDetailInFaults="false"/>-->
<!--        </behavior>-->
<!--      </serviceBehaviors>-->
<!--    </behaviors>-->
<!--    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->

    <bindings>
      <webHttpBinding>
        <binding name="webBinding"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="CleverDogStudios.FormulaOnePickr.WebService.FormulaOnePickrService">
        <endpoint address=""
          binding="webHttpBinding"
          bindingConfiguration="webBinding"
          contract="CleverDogStudios.FormulaOnePickr.WebService.IFormulaOnePickrService"
          behaviorConfiguration="jsonBehavior"/>
      </service>
    </services>
<!--    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">-->
<!--      <serviceActivations>-->
<!--        <add relativeAddress="service.svc" service="CleverDogStudios.FormulaOnePickr.WebService.IFormulaOnePickrService" />-->
<!--      </serviceActivations>-->
<!--    </serviceHostingEnvironment>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
